.nav_container {
	display: flex;
	position: fixed;
	width: 100vw;
	height: 50px;
	top: 0;
	z-index: 100;
	justify-content: space-between;
	background-color: rgba(39, 39, 50, 0.9);
}

.nav_homeContainer {
	margin: 10px;
	display: flex;
	justify-content: flex-start;
	align-content: center;
}

.nav_linkContainer {
	margin: 10px 50px;
	display: flex;
	justify-content: flex-start;
	align-content: center;
}

.nav_links {
	padding: 0 10px;
	display: flex;
	align-items: center;
	color: aliceblue;
}

.nav_links:visited {
	color: aliceblue;
	text-decoration: none;
}

.nav_links:hover {
	color: #0070f3;
	text-decoration: underline;
}

/*=====Footer Container=====*/
.footerContainer {
	display: flex;
	position: fixed;
	width: 100vw;
	height: 50px;
	bottom: 0;
	z-index: 100;
	justify-content: space-evenly;
	align-items: center;
	background-color: rgba(39, 39, 50, 0.9);
}
