.aboutHeader {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5%;
}

.aboutInfoContainer {
	display: flex;
	padding: 40px 20px;
	justify-content: center;
	width: 100vw;
	padding-bottom: 10px;
}

.aboutLeftContainer {
	width: 45vw;
	margin: 0 5%;
}

.aboutRightContainer {
	width: 25vw;
}
