.homeContainers {
	padding: 40px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100vh;
	width: 100vw;
	box-shadow: 0 10px 10px rgb(50, 50, 50);
}

.homeBackgroundImg {
	z-index: -10;
	background-attachment: fixed;
	width: 100vw;
}

#goToNext1,
#goToNext2 {
	cursor: pointer;
	font-size: 100px;
	color: rgba(255, 255, 255, 0.4);
	transition: 0.5s;
}

#goToNext1:hover,
#goToNext2:hover {
	color: rgba(255, 255, 255, 1);
}
/*=====Splash Container=====*/
.splash {
	display: flex;
	height: 85vh;
	justify-content: center;
	align-items: center;
}

.splash__text {
	margin: 30px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.splash__detail {
	margin: 10px;
}

.splash__pic {
	height: 400px;
	width: 400px;
	border-radius: 50%;
}

.splash__profPic {
	height: 400px;
	width: 400px;
	border-radius: 50%;
}

/*=====Who I am Container=====*/
#whoIAmBackground {
	height: 30%;
	width: 100%;
	background-size: cover;
}

.whoAmIText {
	height: 50%;
	display: flex;
	justify-content: space-between;
	padding: 80px;
}

.whoAmIText_column {
	width: 30%;
}

.whoAmIText_para {
	font-weight: 100;
	/* font-size: 0.8em; */
}

/*=====Skills Container=====*/
.skills_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.skills {
	display: flex;
	flex-direction: column;
	width: 20%;
	box-sizing: border-box;
	font-size: 30px;
	padding: 20px 10px;
	align-items: center;
}

.skills > i {
	font-size: 100px;
	height: 100px;
	width: 100px;
}

#pug {
	font-size: 100px;
	height: 100px;
	width: 140px;
}

.copyright {
	display: flex;
	justify-content: center;
	padding-top: 15px;
}
